* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html{
      scroll-behavior: smooth;
    }

    body {
    font-family: sans-serif;
      padding: 0;
      margin: 0;
      
    }
    a {
    text-decoration: none;
    }
    
    li {
    list-style: none;
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color:  rgb(255, 255, 255);
        color: #3bd021;
        }
        .nav-links a {
        color: #ffffff;
        }
        .logo {
        font-size: 32px;
        }
        .menu {
        display: flex;
        gap: 1em;
        font-size: 15px;
        }
        .menu li:hover {
        background-color:#121314;;
        border-radius: 5px;
        transition: 0.3s ease;
        }
        .menu li {
        padding: 5px 14px;
        }
        .services {
        position: relative; 
        }
        .logo{
            font-weight: bold;
            font-size: 40px;
        }
        
        input[type=checkbox]{
            display: none;
            } 
      
            .hamburger {
            display: none;
            font-size: 25px;        
            user-select: none;          
            }
        @media (max-width: 480) {
          .navbar{
            background-color:  rgb(31, 123, 25);
        }
        
        .menu { 
        
        display: none;      
        position: absolute;       
        background-color: rgb(50, 175, 146);       
        right: 0;       
        left: 10;       
        text-align: right;        
        padding: 20px 20px;
        margin-top: 20px;       
        }
        
        .menu li:hover {
        display: inline-block; 
        background-color:#000000; 
        transition: 0.3s ease;
        }
        
        .menu li + li {
        margin-top: 12px;
        }
        
        input[type=checkbox]:checked ~ .menu{
        display: block;
        }
        
        .hamburger { 
        display: block;
        }
       
       }
            
        @media screen and (max-width: 768px) {

            .navbar{
                background-color:  rgb(255, 255, 255);
            }
            
            
            .menu { 
            
            display: none;           
            position: absolute;           
            background-color: rgb(44, 215, 35);           
            right: 0;           
            left: 13;           
            text-align: center;           
            padding: 10px 10px;
            margin-top: 20px;
            font-size: 12px;
            }
            
            .menu li:hover {
            display: inline-block;           
            background-color:#020202;           
            transition: 0.3s ease;           
            }
            
            .menu li + li {           
            margin-top: 12px;           
            }
            
            input[type=checkbox]:checked ~ .menu{           
            display: block;           
            }
            
            .hamburger {
            display: block;                
            }
            
           
           
          }
            
              
             

.frut{
  height: 80px;
  width: 80px;
}
.shift{
 
 margin-left: 200px;
}
.ape{
  float: left;
  padding-left: 150px;
  
}
.grape{
  width: 800px;
  margin-top: -330px;
  margin-left: 475px;
}
.focus{
  margin-top: 290px;
  margin-left: -550px;
}
.grape2{
  padding-top: 100px;
}
.popular{
 text-align: center;
 font-size: 20px;
 font-weight: bold;
}
.product{
  width: 100%;
}
.fuuu{
  float: left;
}
.fuu2{
  width: 80%;
}
.fuu3{
  margin-top: 150px;
  padding-left: 150px;
}
.fuu4{
  margin-top: 50px;
}
.explore{
  margin-top: 400px;
 margin-left: -130px;
}
.guava{
  width: 100%;
}
.box{
  width: 380px;
  height: 500px;
  padding: 30px;
  margin-left: 80px;
  background-color: green;
  float: left;
  margin-top: 20px;
}
.circle{
  width: 200px;
  height: 200px;
  
  border-radius: 50%;
  margin-left: 65px;
  background-image: url('myfruit.png');
  background-size: 200px;
  box-shadow: #020202;
}
.va{
  margin-top: 50px;
  text-align: center;
  color: white;
}
.drink{
  margin-top: 50px;
  text-align: center;
  color: white;
}
.but{
  width: 100px;
  height: 40px;
  margin-top: 30px;
  margin-left: 117px;
  background-color: red;
  border: none;
  color: white;
  margin-bottom: 50px;
}
.box2{
  width: 380px;
  height: 500px;
  padding: 30px;
  margin-left: 80px;
  background-color: rgb(182, 188, 7);
  float: left;
  margin-top: 20px;
}
.circle2{
  width: 200px;
  height: 200px;
  
  border-radius: 50%;
  margin-left: 65px;
  background-image: url('myfruit2.png');
  background-size: 200px;
}

.but2{
  width: 100px;
  height: 40px;
  margin-top: 30px;
  margin-left: 117px;
  background-color: rgba(72, 172, 14, 0.866);
  border: none;
  color: white;
  margin-bottom: 50px;
}
button:hover{
  background-color: black;
}
.box3{
  width: 380px;
  height: 500px;
  padding: 30px;
  margin-left: 80px;
  background-color: rgba(161, 43, 43, 0.504);
  float: left;
  margin-top: 20px;
}
.circle3{
  width: 200px;
  height: 200px;
  
  border-radius: 50%;
  margin-left: 65px;
  background-image: url('myfruit.png');
   background-size: 200px;

}

.but3{
  width: 100px;
  height: 40px;
  margin-top: 30px;
  margin-left: 117px;
  background-color: rgba(172, 14, 43, 0.866);
  border: none;
  color: white;
  margin-bottom: 50px;
}

.tes{
  text-align: center;
 
}
.tess{
  margin-top: 80px;
}
.tes2{
  text-align: center;
  margin-top: 30px;
}
.tes3{
  width: 100%;
  margin-bottom: 100px;
}
.special{
  width: 600px;
  height: 360px;
  border: 2px solid green;
  border-radius: 10px;
  margin-left: 26%;
  background-color: white;
  box-shadow: 5px 5px rgb(6, 6, 6);
  margin-top: -300px;
  position: absolute;
}
.get{
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}
.email{
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
  color: #00000082;
}
.ridi{
  margin-left: 30px;
  margin-top: -35px;
  font-size: 20px;
  color: #00000065;
}
.special2{
  width: 550px;
  height: 50px;
  border: 2px solid green;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 100px;
}
.sub{
  width: 180px;
  height: 47px;
  border-radius: 50px;
  margin-left: 367px;
  color: white;
  border: none;
  background-color: rgba(0, 128, 0, 0.627);
}
footer{
  background-color: rgba(0, 128, 0, 0.627);
  height: auto;
}
.first {
  padding-top: 100px;
}
.drinksh{
  margin-top: -55px;
  margin-left: 180px;
  font-size: 25px;
}
.ii{
  margin-top: 20px;
  margin-left: 180px;
}
i{
  width: 30px;
  height: 40px;
  color: white;
}
.fruttai {
  margin-left: 100px;
  margin-top: 65px;
}
.quick{
  margin-left: 600px;
  margin-top: -140px;
 
}
.contact{
  float: right;
  margin-top: -120px;
  margin-right: 150px;

}
.copy{
  margin-top: 250px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 20px;
}
.loca{
  margin: 30px;
  margin-left: 5px;
}
.block{
  margin-top: -50px;
  margin-left: 30px;
  font-size: 20px;
  color: #00000091;
}
.phone{
  margin-top: -50px;
  margin-left: 30px;
}
.maill{
  margin-top: -40px;
  margin-left: 30px;
  font-size: 20px;
  color: #00000091;
}
.lin{
  font-size: 30px;

}
.home{
  margin-top: 20px;
  font-size: 20px;
  color: #00000091;
}
.io{
  font-size: 20px;
  color: #00000091;
}